<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link href="/scss/reset.css" rel="stylesheet" type="text/css">
    <link href="/scss/theme.css" rel="stylesheet" type="text/css">
    <link href="/scss/landingpage.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="container">
        <nav class="phone_and_tab_nav">
            <a href="/"><img id="brand_logo" src="/images/logo.png" alt="Brand Logo"></a>
            
            <div class="right_aligned">
                <div class="profile_dropdown">
                    <% if(user.profile_picture) {%>
                        <img src="<%= user.profile_picture %>">
                    <% } %>
                    <% if(!user.profile_picture) {%>
                        <img src="https://tvastra-profile-pictures.s3.ap-south-1.amazonaws.com/iconfinder_user_1608727.png">
                    <% } %>
                    <i class="fas fa-chevron-down" id="profile_picture_dropwdown_icon"></i>
                    <div class="profile_dropdown_options">
                        <% if(user.is_doctor==false) {%>
                            <a href="/user_profile_edit">
                                <div class="profile_block">
                                    <img class="navbar_profile_picture" src="<%= user.profile_picture %>">
                                    <span class="navbar_username"><%= user.name %></span>
                                    <span class="navbar_user_mobile_number"><%= user.number %></span>
                                </div>
                            </a>
                        <% } %>
                        <% if(user.is_doctor==true) {%>
                            <a href="/doctor_profile_edit">
                                <div class="profile_block">
                                    <img class="navbar_profile_picture" src="<%= user.profile_picture %>">
                                    <span class="navbar_username"><%= user.name %></span>
                                    <span class="navbar_user_mobile_number"><%= user.number %></span>
                                </div>
                            </a>
                        <% } %>
                        
                        <a href="/all_appointments"><span class="option_hover">My Appointments</span></a>
                        <hr>
                        <a class="my_lab_tests" id="my_lab_tests_link" href="#"><span class="option_hover">My Lab Tests</span></a>
                        <hr>
                        <a class="my_medicine_orders" id="my_medicine_orders_link" href="#"><span class="option_hover">My Medicine Orders</span></a>
                        <hr>
                        <a class="my_payments" id="my_payments_link" href="#"><span class="option_hover">My Payments</span></a>
                        <hr>
                        <a href="/logout"><span class="option_hover">Logout</span></a>
                        <hr>
                    </div>
                </div>
                <i id="sidebar_toggle" class="fas fa-bars"></i>
            </div>
        </nav>
    
        <nav class="laptop_nav">
    
            <a href="/"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"></a>
    
            <div class="nav_links">
                <a href="/doctor"><p>Doctors</p></a>
                <a href="/hospital"><p>Hospitals</p></a>
                <div class="treatment_container">
                    <p>Treatment <i class="fas fa-chevron-down"></i></p>
                    <div class="treatment_dropdown">
                        <a href="/dentistry"><span>Dentistry</span></a>
                        <a href="/dentistry"><span>Cancer</span></a>
                        <a href="/dentistry"><span>Multi Organ Transplant</span></a>
                        <a href="/dentistry"><span>Orthopedics surgery</span></a>
                        <a href="/dentistry"><span>Infertility Treatment</span></a>
                    </div>
                </div>
                <a href="/aboutus"><p>About</p></a>
                
            </div>
            <% if(loggedinstatus == false) {%>
            <div class="nav_buttons">
                <a href="/email_login"><button type="button" id="login_button" class="login_button">Login/Sign Up</button></a>
    
                <button type="button" class="get_quote_button">Get a Quote</button>
            </div>
            <% } %>
            <% if(loggedinstatus == true) {%>
                <div class="nav_buttons">
                    <a href="#"><button type="button" id="tvastra_plus" class="tvastra_plus">Tvastra Plus</button></a>
                    <button type="button" class="get_quote_button">Get a Quote</button>
                    <div class="container_element">
                        <span class="loggedinuser"><%=  user.name %><i class="fas fa-chevron-down"></i></span>
                        <div class="user_dropdown">
                            <div class="dropdown_options">
                                <% if(user.is_doctor==false) {%>
                                    <a href="/user_profile_edit">
                                        <div class="profile_block">
                                            <img class="navbar_profile_picture" src="<%= user.profile_picture %>">
                                            <span class="navbar_username"><%= user.name %></span>
                                            <span class="navbar_user_mobile_number"><%= user.number %></span>
                                        </div>
                                    </a>
                                <% } %>
                                <% if(user.is_doctor==true) {%>
                                    <a href="/doctor_profile_edit">
                                        <div class="profile_block">
                                            <img class="navbar_profile_picture" src="<%= user.profile_picture %>">
                                            <span class="navbar_username"><%= user.name %></span>
                                            <span class="navbar_user_mobile_number"><%= user.number %></span>
                                        </div>
                                    </a>
                                <% } %>
                                
                                <a href="/all_appointments"><span class="option_hover">My Appointments</span></a>
                                <hr>
                                <a class="my_lab_tests" id="my_lab_tests_link" href="#"><span class="option_hover">My Lab Tests</span></a>
                                <hr>
                                <a class="my_medicine_orders" id="my_medicine_orders_link" href="#"><span class="option_hover">My Medicine Orders</span></a>
                                <hr>
                                <a class="my_payments" id="my_payments_link" href="#"><span class="option_hover">My Payments</span></a>
                                <hr>
                                <a href="/logout"><span class="option_hover">Logout</span></a>
                                <hr>
    
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </nav>
        
        <div class="siteflow">
            
            <% if(message=="Login Successful") {%>
                <div class="message success" id="message">
                    <i class="fas fa-check-circle big_icon"></i>
                    <h2>Success</h2>
                    <span><%=message%></span>
                    <i class="fas fa-times small_icon"></i>
                </div>
               <%}%>
    
               <% if(message=="Too many failed attempts") {%>
                <div class="message incorrect" id="message">
                    <i class="fas fa-times-circle big_icon"></i>
                    <h2>Limit Exceeded</h2>
                    <span><%=message%></span>
                    <i class="fas fa-times small_icon"></i>
                </div>
               <%}%>
            
    
            <section class="FindHealthcare">
    
                <h2>Find Affordable Healthcare</h2>
    
                    <p>Join the thousand of others who have exercised their rights to quality healthcare at a price you can
                        afford
                    </p>
                    <form method="POST">
                        <div class="locationinput">
                            <i class="fas fa-map-marker-alt"></i>
                            <input type="text" id= "location_search" placeholder="Ahemedabad">
                            <span><img class="gpsicon"
                                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/gps.png"></span>
                        </div>
    
                        <div class="DoctorSearch">
                            <input id="doctor_search" list="list_options" type="text" placeholder="Search for Doctor, hospitals and treatments">
                            <datalist id="list_options">
                            </datalist>
                            <p id="error_doctor_search"></p>
                        </div>
    
                        <div class="buttoncontainer">
                            <button class="buttoninput" type="submit">Search</button>
                        </div>
                    </form>
            </section>
    
            <section class="HowItWorks">
                <h2>How it works</h2>
    
                <p>Various facilities are provided here.But there is a protocol which needs to be followed so that you get
                    the service at its best.</p>
    
                <div class="howItWorks_content">
                    <ol>
                        <li class="selected bordered item_0"><b>01</b> <span>&nbsp; Fix Consulation</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png">
                            <b>Fix Consulation</b>
                            <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                        </div>
        
                        <li class="bordered item_1"><b>02</b> <span>&nbsp; Upload Medical Reports</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png">
                            <b>Upload Medical Reports</b>
                            <p>User can upload their previous Medical Reports online in case of any previous treatments issues.</p>
                        </div>

                        <li class="bordered item_2"><b>03</b> <span>&nbsp; Consult with doctor</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg">
                            <b>Consult With Doctor</b>
                            <p>User can Consult with doctors online.</p>
                        </div>
                        <li class="bordered item_3"><b>04</b> <span>&nbsp; Fix surgery</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg">
                            <b>Fix Surgery</b>
                            <p>User are provided with surgery related facilities.</p>
                        </div>
                        <li class="bordered item_4"><b>05</b> <span>&nbsp; Hospital sent estimates</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg">
                            <b>Hospital Sent Estimates</b>
                            <p>User can know their Hospital sent estimated cost online.</p>
                        </div>
                        <li class="bordered item_5"><b>06</b> <span>&nbsp; Payment</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg">
                            <b>Payment</b>
                            <p>Online payment portal is also provided in case of any online services.</p>
                        </div>
                        <li class="bordered item_6"><b>07</b> <span>&nbsp; Surgery Completed</span></li>
                        <div class="mobile_view_image_container">
                            <img class="mobile_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg">
                            <b>Surgery Completed</b>
                            <p>User get all their surgery related Informations.</p>
                        </div>
                    </ol>
        
                    <div class="tab_laptop_view_image">
                        <img id="tab_laptop_view_image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png">
                        <b id="tab_laptop_view_b" >Fix Consulation</b>
                        <p id="tab_laptop_view_p" class="li_description">This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                    </div>
                </div>
    
            </section>
    
            <section class="world_class">
    
                <h3>World Class Expert Doctors!</h3>
    
                <p>The university of Texas Southeastern Medical center has been a long world-renowned
                    research hsopital. But until the '80s, you couldn't go there. Now, with the addition of Aston Center and
                    Zale Liphsy Hospital, UT Southeastern is also a mecca for patients.</p>
    
                <div class="flex_view_doctors">
    
                    <div class="active_doctor_card doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Duke Sanson<br><br class="space_removal"></b></a>
    
                            <span>Neuro Surgeon<br></span>
                            <span>Chain department of Neurological<br></span>
                            <span>Surgery<br></span>
                            <span class="space_removal">Australia</span>
                        </div>
                    </div>
    
                    <div class="active_doctor_card doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"></a>
                        </div>
    
                        <div class="doctordescription three_liner">
                            <hr class="dashline"><a href="/doctor_profile"><b> Georgea Peter<br><br class="space_removal"></b></a>
    
                            <span>Breast Cancer Surgeon<br></span>
                            <span>Director, UT, Southwest<br></span>
    
                            <span>London</span>
                        </div>
                    </div>

                    <div class="active_doctor_card doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Rose Moon<br><br class="space_removal"></b></a>
    
                            <span>Plastic Surgeon<br></span>
                            <span>Department of Plastic and<br></span>
                            <span>Reconstructive Surgery<br></span>
                            <span class="space_removal">Dubai</span>
                        </div>
                        
                    </div>
    
                    <div class="active_doctor_card doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"></a>
                        </div>
    
                        <div class="doctordescription three_liner">
                            <hr class="dashline"><a href="/doctor_profile"><b> Charlie Moon<br><br class="space_removal"></b></a>
    
                            <span>Cardiac Surgeon<br></span>
                            <span>MBBS, MD, FRCP, Fellowship<br></span>
    
                            <span>New Delhi, India</span>
                        </div>
                    </div>
    
                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Rose Moon<br><br class="space_removal"></b></a>
    
                            <span>Plastic Surgeon<br></span>
                            <span>Department of Plastic and<br></span>
                            <span>Reconstructive Surgery<br></span>
                            <span class="space_removal">Dubai</span>
                        </div>
                        
                    </div>

                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Duke Sanson<br><br class="space_removal"></b></a>
    
                            <span>Neuro Surgeon<br></span>
                            <span>Chain department of Neurological<br></span>
                            <span>Surgery<br></span>
                            <span class="space_removal">Australia</span>
                        </div>
                    </div>

                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Duke Sanson<br><br class="space_removal"></b></a>
    
                            <span>Neuro Surgeon<br></span>
                            <span>Chain department of Neurological<br></span>
                            <span>Surgery<br></span>
                            <span class="space_removal">Australia</span>
                        </div>
                    </div>
    
                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"></a>
                        </div>
    
                        <div class="doctordescription three_liner">
                            <hr class="dashline"><a href="/doctor_profile"><b> Georgea Peter<br><br class="space_removal"></b></a>
    
                            <span>Breast Cancer Surgeon<br></span>
                            <span>Director, UT, Southwest<br></span>
    
                            <span>London</span>
                        </div>
                    </div>
    
                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"></a>
                        </div>
    
                        <div class="doctordescription three_liner">
                            <hr class="dashline"><a href="/doctor_profile"><b> Charlie Moon<br><br class="space_removal"></b></a>
    
                            <span>Cardiac Surgeon<br></span>
                            <span>MBBS, MD, FRCP, Fellowship<br></span>
    
                            <span>New Delhi, India</span>
                        </div>
                    </div>
    
                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Rose Moon<br><br class="space_removal"></b></a>
    
                            <span>Plastic Surgeon<br></span>
                            <span>Department of Plastic and<br></span>
                            <span>Reconstructive Surgery<br></span>
                            <span class="space_removal">Dubai</span>
                        </div>
                        
                    </div>

                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"></a>
                        </div>
    
                        <div class="doctordescription three_liner">
                            <hr class="dashline"><a href="/doctor_profile"><b> Georgea Peter<br><br class="space_removal"></b></a>
    
                            <span>Breast Cancer Surgeon<br></span>
                            <span>Director, UT, Southwest<br></span>
    
                            <span>London</span>
                        </div>
                    </div>

                    <div class="doctor_card">
                        <div class="doctor_image">
                            <a href="/doctor_profile"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"></a>
                        </div>
    
                        <div class="doctordescription">
                            <hr class="dashline"><a href="/doctor_profile"><b> Rose Moon<br><br class="space_removal"></b></a>
    
                            <span>Plastic Surgeon<br></span>
                            <span>Department of Plastic and<br></span>
                            <span>Reconstructive Surgery<br></span>
                            <span class="space_removal">Dubai</span>
                        </div>
                        
                    </div>
                    
    
                </div>
    
                <div class="navigation_dots">
                    <span id="doctors_dot_0" class="dot selected "></span>
                    <span id="doctors_dot_1" class="dot"></span>
                    <span id="doctors_dot_2" class="dot"></span>
                </div>
    
            </section>
    
            <section class="featured_medical">
    
                <h3>Featured Medical Treatment</h3>
    
                <p>Join the thousand of others who have exercised their rights to quality healthcare at a price you can
                    afford</p>
    
                <div class="flex_view_treatments">
                    <div class="treatment_card dentistry">
                            <a href="/dentistry"><span class="headingspan">Dentistry<br></span></a>
                            <span class="descspan">50+ specialists</span>
                    </div>
    
                    <div class="treatment_card cancer">
                        
                            <span class="headingspan">Cancer<br></span>
                            <span class="descspan">50+ specialists</span>
    
                    </div>
    
                    <div class="treatment_card cardiology">
                        
                            <span class="headingspan">Cardiologic Treatment<br></span>
                            <span class="descspan">50+ specialists</span>
                        
    
                    </div>
    
                    <div class="treatment_card multi_organ">
                       
                            <span class="headingspan">Multi Organ Transplant<br></span>
                            <span class="descspan">50+ specialists</span>
                       
    
                    </div>
    
                    <div class="treatment_card orthopedics">
                       
                            <span class="headingspan">Orthopedics Surgery<br></span>
                            <span class="descspan">50+ specialists</span>
                        
    
                    </div>
    
                    <div class="treatment_card infertility">
                        
                            <span class="headingspan">Infertility Treatment<br></span>
                            <span class="descspan">50+ specialists</span>
                        
    
                    </div>
    
                </div>
    
                <!-- <div class="navigation_dots_featured">
                    <span class="dot_featured selected_featured"></span>
                    <span class="dot_featured"></span>
                </div> -->
    
            </section>
    
            <section class="exclusive_services">
                <h3>Exclusive Services</h3>
    
                <p>We want you to be comfortable and thus apart from threatening you illness, we provide you with other
                    services that you can see</p>
    
                <div class="services_flex">
                    <div class="travel service">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png">
                        <span>TRAVEL</span>
                    </div>
    
                    <div class="food service">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png">
                        <span>FOOD</span>
                    </div>
    
                    <div class="accomodation service">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png">
                        <span>ACCOMODATION</span>
                    </div>
    
                    <div class="labs service">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png">
                        <span>LABS</span>
                    </div>
    
                    <div class="reports service">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png">
                        <span>REPORTS</span>
                    </div>
    
                    <div class="ambulance service">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png">
                        <span>AMBULANCE</span>
                    </div>
    
                </div>
            </section>
    
            <section class="need_help">
    
               <div class="need_help_flex">
                <div class="need_help_left_div">
                    <h3>Need Help?</h3>
    
                    <p>Just let us know, we will be happy to assist you</p>
                </div>
    
                <a href="submit_query"><button type="button" class="btn btn-primary">Submit your enquiry</button></a>
               </div>
    
            </section>
    
            <footer>
    
    
    
                <div class="footer_flex_mobile">
    
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
    
                    <a href="/doctor"><span>Doctor</span></a>
    
                    <a href="/hospital"><span>Hospital</span></a>
    
                    <a href="/dentistry"><span>Treatment</span></a>
    
                    <a href="/contactus"><span>Contact us</span></a>
    
                    <a href="/faq"><span>FAQs</span></a>
    
                    <span><i class="fab fa-facebook-f"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-pinterest-p"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-twitter"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i
                            class="fab fa-google-plus-g"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i
                            class="fab fa-instagram"></i></span>
    
                    <span class="footer_end">All Rights Reserved. © tvastra 2018</span>
    
                </div>
    
                <div id="footer_flex_tab_laptop" class="footer_flex_tab_laptop">
                    <div class="footer_flex_inner_one">
                        <div class="footer_flex_inner_one_left">
                            <a href="/doctor"><span>Doctor</span></a>
    
                            <a href="/hospital"><span>Hospital</span></a>
    
                            <a href="/dentistry"><span>Treatment</span></a>
    
                            <a href="/contactus"><span>Contact us</span></a>
    
                            <a href="/faq"><span>FAQs</span></a>
    
                        </div>
    
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
    
                    </div>
    
                    <div class="footer_flex_inner_two">
                        <span class="footer_end">All Rights Reserved. © tvastra 2018</span>
                        <span><i class="fab fa-facebook-f"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-pinterest-p"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-twitter"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i
                                class="fab fa-google-plus-g"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i
                                class="fab fa-instagram"></i></span>
                    </div>
                </div>
    
                
            
            </footer>
    
        </div>
        <div class="sidebar_shade">
            <div class="sidebar">
                <i class="fas fa-arrow-right" id="sidebar_close"></i>
                <a href="/doctor">
                    <div class="sidebar_entry">
                        <span class="sidebar_span">Doctors</span>
                    </div>
                </a>
                <a href="/hospital">
                    <div class="sidebar_entry">
                        <span>Hospitals</span>
                    </div>
                </a>
                
                    <div class="sidebar_entry_copy" onclick="treatments_dropdown_toggle()">
                        <span>Treatments   <i class="fas fa-chevron-down"></i></span>
                    </div>
                
                <div class="treatments_dropdown" style="display: none;">
                    <a href="/dentistry"><span>Dentistry</span></a>
                    <a href="/dentistry"><span>Cancer</span></a>
                    <a href="/dentistry"><span>Multi Organ Transplant</span></a>
                    <a href="/dentistry"><span>Orthopedics Surgery</span></a>
                    <a href="/dentistry"><span>Infertitlity Treatment</span></a>
                </div>
                <a href="/aboutus">
                    <div class="sidebar_entry">
                        <span>About</span>
                    </div>
                </a>
                <a href="/plus">
                    <div class="sidebar_entry">
                        <span>Tvastra Plus</span>
                    </div>
                </a>
                <a href="/submit_query">
                    <div class="sidebar_entry">
                        <span>Get a quote</span>
                    </div>
                </a>
            </div>
        </div>
        
        <script src="/scripts/sidebar_navigation.js" type="text/javascript"></script>
        <script src="/scripts/message_animate.js" type="text/javascript"></script>
        <script type="text/javascript" src="/scripts/google_autocomplete.js"></script>
        <script type="text/javascript" src="/scripts/doctor_search.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSwUCoBTrazBT2P3IArEpbfKcZN6dUORI&libraries=places&callback=activateAutoComplete"></script>
        <script src="/scripts/index.js" type="text/javascript"></script>
    </div>
</body>

</html>